
.chat-body{
    height: 1000vh;
    background-color: #9ABBD3;
}
.chat-display{
    text-align: center;
    display:flex;
    justify-content: center;
    font-size:14px;
    font-weight: 400;
    padding:11px 0px;
}
.chat-display__title{
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
    font-size:14px;
    color:white;
    opacity: 0.7;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    height:25px;
    margin-bottom:9px;
}
.message-row{
    display:flex;
    width: 100%;
    margin-bottom: 25px;
}
.message-row img {
    width:40px;
    height:40px;
    border-radius: 10px;
    margin-right: 8px;
}
.message-row__author{
    opacity: 0.6;
    display:block;
    font-size: 14px;
    margin-bottom:8px;
}
.message-row__bubble{
    background-color: white;
    padding:10px 5px;
    border-radius: 10px;
    border-top-left-radius: 0%;
    font-size: 15px;
}
.message-row__time{
    opacity: 0.6;
    margin-left: 8px;
}
.message-row__info{
    display: flex;
    align-items: flex-end;
}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message-row__time{
    margin-right:8px;
}
.message-row--own .message-row__bubble{
    border-radius: 10px;
    border-top-right-radius: 0;
    background-color:rgb(250, 227, 1) ;
}