.find-icons{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0,0,0,0.3);
}
.find-icons__icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.find-icons__icon i {
    margin-top: 20px;
    font-size: 29px;
}
.find-icons__icon span {
    margin-top : 15px;
    margin-bottom: 30px;
}
.recommended-friends{
    color:rgb(0,0,0,0.6);
    padding:20px 0px;
    border-bottom: 1px solid rgb(0,0,0,0.3);
}
.recommended-friends span {
    text-align: center;
    display:block;
    margin: 75px 0px;
}
.open-post{
    margin-top:10px;
}
.open-post__header{
    display:flex;
    justify-content: space-between;
    opacity: 0.8;
}
.open-post__header span{
    opacity:0.6;
}
.open-post__column img{
    width: 15px;
    height: 15px;
    border-radius: 10px;
}
.open-post__name{
    font-weight: 600;
    font-size: 18px;
    margin-top:18px;
}
.open-post__hashtag{
    opacity: 0.6;
}
.open-post__active-name{
    color:hotpink;
}

.open-post__photo{
    position:relative;
    margin-top: 10px;
}
.open-post__photo img{
    width:80px;
    height:80px;
}
.open-post__heart-count {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
  }
.open-post__numtwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}