.more-suggestions{
    padding-top:25px;
    margin-bottom: 25px;
}
.more-suggestions__title{
    padding: 20px 0;
    font-weight:600;
}
.more-suggestions__icons{
    text-align: center;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.more-suggestions__icon span {
    opacity: 0.6;
    font-size:15px;
}